.producto-vencido {
  --background: #ffe5e5;
  color: #c70000;
  font-weight: bold;
}

.producto-pronto-vencer {
  --background: #fff8e1;
  color: #b57f00;
  font-weight: 500;
}
.boton-flotante {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.opciones-producto {
  margin: 0 1rem 1rem 1rem;
  border-radius: 8px;
  background: #f4f4f4;
}
.danger {
  color: var(--ion-color-danger);
}


.overlay-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
}
.formulario-superior {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  z-index: 1000;
}